In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
path=r"C:\Users\Uddhava\Documents\Visadataset.csv"
visa_df=pd.read_csv(path)
visa_df

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified
...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,Certified
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,Certified
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,Certified
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,Certified
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,Certified

In [9]:
# cat_columns=visa_df.select_dtypes(include='object').cloumns
num_columns=visa_df.select_dtypes(exclude='object').columns
num_columns

Index(['no_of_employees', 'yr_of_estab', 'prevailing_wage'], dtype='object')

In [14]:
visa_df.loc[:,'prevailing_wage']

0           592.2029
1         83425.6500
2        122996.8600
3         83434.0300
4        149907.3900
            ...
25475     77092.5700
25476    279174.7900
25477    146298.8500
25478     86154.7700
25479     70876.9100
Name: prevailing_wage, Length: 25480, dtype: float64

In [16]:
visa_df.loc[:,'prevailing_wage']
visa_df.iloc[:,[8]]
visa_df['prevailing_wage']

0           592.2029
1         83425.6500
2        122996.8600
3         83434.0300
4        149907.3900
            ...
25475     77092.5700
25476    279174.7900
25477    146298.8500
25478     86154.7700
25479     70876.9100
Name: prevailing_wage, Length: 25480, dtype: float64

In [6]:
visa_df.loc[:,'prevailing_wage'}
visa_df.iloc[:,[8]]
visa_df['prevailing_wage']
visa_df[['prevailing_wage']]

SyntaxError: closing parenthesis '}' does not match opening parenthesis '[' (3893082482.py, line 1)

In [18]:
visa_df.loc[:,'prevailing_wage']
visa_df.iloc[:,[8]]
visa_df['prevailing_wage']
visa_df[['prevailing_wage']]

       prevailing_wage
0             592.2029
1           83425.6500
2          122996.8600
3           83434.0300
4          149907.3900
...                ...
25475       77092.5700
25476      279174.7900
25477      146298.8500
25478       86154.7700
25479       70876.9100

[25480 rows x 1 columns]

In [20]:
len(visa_df['prevailing_wage'])

25480

In [22]:
visa_df.iloc[3:7,2:5,]

  education_of_employee has_job_experience requires_job_training
3            Bachelor's                  N                     N
4              Master's                  Y                     N
5              Master's                  Y                     N
6            Bachelor's                  N                     N

In [23]:
min(visa_df['prevailing_wage'])

2.1367

In [24]:
max(visa_df['prevailing_wage'])

319210.27

In [27]:
count=len(visa_df['prevailing_wage'])
min_wage=min(visa_df['prevailing_wage'])
max_wage=max(visa_df['prevailing_wage'])
print("the number of wage samples are:",count)
print("the minimum wage is :",min_wage)
print("the maximum wage is :",max_wage)

the number of wage samples are: 25480
the minimum wage is : 2.1367
the maximum wage is : 319210.27

In [29]:
visa_df[['prevailing_wage']].mean()

prevailing_wage    74455.814592
dtype: float64

In [30]:
visa_df['prevailing_wage'].mean()

74455.81459209183

In [31]:
visa_df['prevailing_wage'].median()

70308.20999999999

In [35]:
mean_wage=round(visa_df['prevailing_wage'].mean(),2)
median_wage=round(visa_df['prevailing_wage'].median(),2)
print("The average wage is :", mean_wage)
print("The average wage is :",median_wage)

The average wage is : 74455.81
The average wage is : 70308.21

In [36]:
np.mean(visa_df['prevailing_wage'])

74455.81459209183

In [37]:
np.median(visa_df['prevailing_wage'])

70308.20999999999

In [38]:
visa_df['prevailing_wage'].std()

52815.94232687357

In [40]:
std_wage=round(visa_df['prevailing_wage'].std(),2)
std_wage

52815.94

In [ ]:
count=len(visa_df['prevailing_wage'])
min_wage=min(visa_df['prevailing_wage'])
max_wage=max(visa_df['prevailing_wage'])
print("the number of wage samples are:",count)
mean_wage=round(visa_df['prevailing_wage']).mean(),2)
median_wage=round(visa_df['prevailing_wage']).median(),2)
std_wage=round(visa_df['prevailing_wage'].std(),2)

In [41]:
visa_df['prevailing_wage'].mode()

0        100.66
1        102.70
2        105.96
3        108.12
4        109.06
5        110.51
6        111.11
7        113.60
8        118.43
9        122.65
10       127.89
11       134.15
12       138.76
13      6036.67
14     21894.51
15     24258.73
16     58770.05
17     60948.15
18     64357.58
19     74645.92
20     82560.28
21     87751.88
22     88664.77
23     93356.03
24    126813.75
25    149907.39
Name: prevailing_wage, dtype: float64

In [50]:
count_wage=len(visa_df['prevailing_wage'])
count_wage

25480

In [51]:
values=[count_wage,min_wage,max_wage,
        mean_wage,median_wage,std_wage]
index=['count','min','max','mean','median','std']
cols=['prevailing_wage']
pd.DataFrame(values,index=index,columns=cols)

        prevailing_wage
count        25480.0000
min              2.1367
max         319210.2700
mean         74455.8100
median       70308.2100
std          52815.9400

In [48]:
count_wage=len(visa_df['prevailing_wage'])
count_wage

25480

In [49]:
values=[count_wage,min_wage,max_wage,
        mean_wage,median_wage,std_wage]
index=['count','min','max','mean','median','std']
cols=['prevailing_wage']
pd.DataFrame(values,index=index,columns=cols)

        prevailing_wage
count        25480.0000
min              2.1367
max         319210.2700
mean         74455.8100
median       70308.2100
std          52815.9400

In [52]:
visa_df.describe()

       no_of_employees   yr_of_estab  prevailing_wage
count     25480.000000  25480.000000     25480.000000
mean       5667.043210   1979.409929     74455.814592
std       22877.928848     42.366929     52815.942327
min         -26.000000   1800.000000         2.136700
25%        1022.000000   1976.000000     34015.480000
50%        2109.000000   1997.000000     70308.210000
75%        3504.000000   2005.000000    107735.512500
max      602069.000000   2016.000000    319210.270000

In [53]:
visa_df['continent'].value_counts()

continent
Asia             16861
Europe            3732
North America     3292
South America      852
Africa             551
Oceania            192
Name: count, dtype: int64

In [58]:
count=len(visa_df['prevailing_wage'])
min_wage=min(visa_df['prevailing_wage'])
max_wage=max(visa_df['prevailing_wage'])
mean_wage=round((visa_df['prevailing_wage']).mean(),2)
median_wage=round((visa_df['prevailing_wage']).median(),2)
std_wage=round(visa_df['prevailing_wage'].std(),2)

In [60]:
np.percentile(visa_df['prevailing_wage'],25)

34015.479999999996

In [61]:
np.percentile(visa_df['prevailing_wage'],0.25)

40.721391249999996

In [62]:
np.quantile(visa_df['prevailing_wage'],0.25)

34015.479999999996