In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
path=r"C:\Users\Uddhava\Documents\Visadataset.csv"
visa_df=pd.read_csv(path)
visa_df

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified
...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,Certified
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,Certified
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,Certified
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,Certified
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,Certified

In [2]:
import pandas as pd
results = [] 
for i in range(1, 4):
    mean_wage = round(visa_df['prevailing_wage'].mean(), 2)
    std_wage = round(visa_df['prevailing_wage'].std(), 2)
    
    lb = mean_wage - i * std_wage
    ub = mean_wage + i * std_wage
    
    condition = (visa_df['prevailing_wage'] >= lb) & (visa_df['prevailing_wage'] <= ub)
    
    new_df = visa_df[condition]
    results.append(filtered_df)
new_df
 code for finding all empirical values

IndentationError: unexpected indent (4020275361.py, line 15)

In [ ]:
r"C:\Users\Uddhava\Downloads\bank\bank.csv"
path=r"C:\Users\Uddhava\Downloads\bank\bank.csv"
visa_df

In [2]:
import numpy as np

In [1]:
import pandas as pd

In [3]:
path=r"C:\Users\Uddhava\Downloads\bank\bank.csv"
bank_df=pd.read_csv(path)
bank_df

     age;"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"
0     30;"unemployed";"married";"primary";"no";1787;...
1     33;"services";"married";"secondary";"no";4789;...
2     35;"management";"single";"tertiary";"no";1350;...
3     30;"management";"married";"tertiary";"no";1476...
4     59;"blue-collar";"married";"secondary";"no";0;...
...                                                 ...
4516  33;"services";"married";"secondary";"no";-333;...
4517  57;"self-employed";"married";"tertiary";"yes";...
4518  57;"technician";"married";"secondary";"no";295...
4519  28;"blue-collar";"married";"secondary";"no";11...
4520  44;"entrepreneur";"single";"tertiary";"no";113...

[4521 rows x 1 columns]

In [24]:
bank_df=pd.DataFrame()
bank_df
type(bank_df)

pandas.core.frame.DataFrame

In [25]:
bank_df.dtypes
bank_df

Empty DataFrame
Columns: []
Index: []

In [28]:
bank_df.head(5)

Empty DataFrame
Columns: []
Index: []

In [13]:
bank_df.iloc[:]

     age;"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"
0     30;"unemployed";"married";"primary";"no";1787;...
1     33;"services";"married";"secondary";"no";4789;...
2     35;"management";"single";"tertiary";"no";1350;...
3     30;"management";"married";"tertiary";"no";1476...
4     59;"blue-collar";"married";"secondary";"no";0;...
...                                                 ...
4516  33;"services";"married";"secondary";"no";-333;...
4517  57;"self-employed";"married";"tertiary";"yes";...
4518  57;"technician";"married";"secondary";"no";295...
4519  28;"blue-collar";"married";"secondary";"no";11...
4520  44;"entrepreneur";"single";"tertiary";"no";113...

[4521 rows x 1 columns]

In [21]:
bank_df.iloc[[100,200,],[2,3,]]

IndexError: positional indexers are out-of-bounds

In [31]:
bank_df.shape

(0, 0)

In [32]:
bank_df.size

0

In [33]:
bank_df.columns

RangeIndex(start=0, stop=0, step=1)

In [34]:
len(bank_df.columns)

0

In [35]:
bank_df.dtypes

Series([], dtype: object)

In [36]:
dict(bank_df.dtypes).values()

dict_values([])

In [38]:
bank_df.take()
bank_df.take([100,200,300])

TypeError: NDFrame.take() missing 1 required positional argument: 'indices'

In [39]:
bank_df.dtypes

Series([], dtype: object)

In [40]:
bank_df['age'].value_counts()

KeyError: 'age'

In [43]:
cdf_=bank_df['age'].value_counts()
cdf

KeyError: 'age'

In [41]:
cdf.keys()

NameError: name 'cdf' is not defined

In [42]:
cdf.values

NameError: name 'cdf' is not defined