In [1]:
import pandas as pd

In [7]:
r"C:\Users\Uddhava\Downloads\Visadataset\Visadataset.csv"
pd.read_csv(r"C:\Users\Uddhava\Downloads\Visadataset\Visadataset.csv")

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified
...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,Certified
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,Certified
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,Certified
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,Certified
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,Certified

In [3]:
path=r"C:\Users\Uddhava\Downloads\Visadataset\Visadataset.csv"
pd.read_csv(r"C:\Users\Uddhava\Downloads\Visadataset\Visadataset.csv",sep=(';'))

      case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0      EZYV01,Asia,High School,N,N,14513,2007,West,59...
1      EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,8...
2      EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122...
3      EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434....
4      EZYV05,Africa,Master's,Y,N,1082,2005,South,149...
...                                                  ...
25475  EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,...
25476  EZYV25477,Asia,High School,Y,N,3274,2006,North...
25477  EZYV25478,Asia,Master's,Y,N,1121,1910,South,14...
25478  EZYV25479,Asia,Master's,Y,Y,1918,1887,West,861...
25479  EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwes...

[25480 rows x 1 columns]

for i,j in dict(data_type).items():
print(i,j)

In [4]:
data_types=visa_df.dtypes
dict(data_types)

NameError: name 'visa_df' is not defined

In [8]:
df=pd.dataFrame
df

AttributeError: module 'pandas' has no attribute 'dataFrame'

In [9]:
df.to_csv('Data1.csv',index=False)
df.to_excel('Data1.xlsx',index=False)

NameError: name 'df' is not defined

In [ ]:
visa_df.dtypes

In [ ]:
cat_list=[]
num_list[]
for i,j in dict(data_types).items():
    if j=='object':
        cat_list.appemd(i)
    else:
        num_list.append(i)

In [ ]:
for i,j in dict(data_types).items():
    print(i,j)

In [ ]:
visa_df.dtypes

In [ ]:
data_types=visa_df.dtypes
dict(data_types)

In [ ]:
r"C:\Users\Uddhava\Downloads\Visadataset\Visadataset.csv"
pd.read_csv(r"C:\Users\Uddhava\Downloads\Visadataset\Visadataset.csv")

In [ ]:
path=r"C:\Users\Uddhava\Downloads\Visadataset\Visadataset.csv"
visa_df=pd.read_csv(r"C:\Users\Uddhava\Downloads\Visadataset\Visadataset.csv")
visa_df

In [ ]:
import pandas as pd
df=pd.DataFrame()
df

In [ ]:
d=pd.DataFrame()
d
type(d)

In [ ]:
data_types=visa_df.dtypes
dict(data_types)

In [ ]:
path=r"C:\Users\Uddhava\Downloads\Visadataset\Visadataset.csv"
visa_df=pd.read_csv(path)
visa_df

In [ ]:
df.to_csv('Data1.csv',index=False)
df.to_excel('Data1.xlsx',index=False)

In [ ]:
data_types=visa_df.dtypes
dict(data_types)

In [ ]:
data_types=visa_df.dtypes
dict(data_types)

In [ ]:
cat_list=[]
num_list=[]
for i,j in dict(data_type).items():
    if j=='object':
        cat_list.append(i)
    else:
        num_list.append(i)

In [ ]:
import pandas as pd

In [ ]:
pd.DataFrame(num_list,columns=['Categorical_column'])

In [ ]:
pd.DataFrame(num_list,columns=['0,1,2'])

In [ ]:
import pandas as pd

In [ ]:
num_df=pd.DataFrame(num_list,columns=['Numerical_column'])
num_df.to_csv('Numerical_column_df.csv',index=False)

In [ ]:
type(visa_df.dtypes)

In [ ]:
cat_df=pd.DataFrame(cat_list,column=['Categorical_column'])
cat_df.to_csv('Categoical_column_df.csv',index=False)

In [6]:
visa_df.dtypes

NameError: name 'visa_df' is not defined

In [ ]:
visa_df.dtypes

In [ ]:
visa_df.dtypes

In [ ]:
dict(visa_df.dtypes).keys()

In [ ]:
cols,data_types=[],[]
for keys,values in dict(visa_df.dtypes).items():
    cols,append(keys)
    data_types.append(values)

pd.DataFrame(zip(cols,data_types),
             columns=['Columns','Data type'])

In [ ]:
data_types=visa_df.dtypes
dict(data_types)

In [ ]:
dict1={'Name':['Krishnesi','Krishna Chaitanya','Uttam'],
       'Age':[9,5,47]}
dict1

In [ ]:
import pandas as pd

In [ ]:
pd.DataFramedict1

In [ ]:
d={}
d['Columns']=cols
d['Data types']=data_types
pd.DataFrame(d)

In [ ]:
visa_df.select_dtypes(include='object').columns

In [ ]:
visa_df.dtypes

In [ ]:
cols=['continent','case_status']
visa_df[cols]

In [ ]:
visa_df[['continent

In [ ]:
import pandas as pd

In [ ]:
df=pd.DataFrame()
df

In [ ]:
path=r"C:\Users\Uddhava\Downloads\Visadataset\Visadataset.csv"
visa_df=pd.read_csv(path)
visa_df

In [ ]:
cols=['continent','case_status']
visa_df[cols]

In [ ]:
visa_df['continent']

In [5]:
visa_df['continent'].unique()

NameError: name 'visa_df' is not defined

In [ ]:
con=visa_df['continent']=='Asia'
len(visa_df[con])

In [ ]:
con=visa_df['continent']=='Asia'
len(visa_df[con])

In [ ]:
con=visa_df['continent']=='Asia'
len(visa_df[con])
con=visa_df['continent']=='Africa'
len(visa_df[con])
con=visa_df['continent']=='North America'
len(visa_df[con])
con=visa_df['continent']=='Europe'
len(visa_df[con])
con=visa_df['continent']=='South America'
len(visa_df[con])
con=visa_df['continent']=='Oceania'
len(visa_df[con])
con=visa_df['continent']=='i'
len(visa_df[con])

In [ ]:
for i in visa_df[['continent'].unique():
con=visa_df['continent']==i
count=len(visa_df[con])
print(f"The numbe of applicats from {i} is : {count}")

In [ ]:
continents=visa_df['continent'].unique()
count=()
for in in visa_df['continent'].unique():
con=visa_df['continent'==i
   con=visa_df['coninent']==i
   count.append(len(visa_df[con]))

cols=['Continents','Number of Applicants']
continents_df=pd.DataFrame(zip(continents,count),
                           columns=cols)

continents_df.to_csv('continents_df.csv',index=False

In [ ]:
***Value Counts***

In [ ]:
visa_df['continent'].value_counts()

In [ ]:
import pandas as pd

In [ ]:
path=r"C:\Users\Uddhava\Downloads\Visadataset\Visadataset.csv"
visa_df=pd.read_csv(path)
visa_df

In [ ]:
types=dict(visa_df.dtypes)
[key if dict(visa_df.dtypes)[i]=='object', dict(visa_df.dtypes)

In [ ]:
[key if dict(visa_df.dtypes)[i]=='object', dict(visa_df.dtypes)

In [ ]:
types=dict(visa_df.dtypes)
cat_columns=[key for key,value in types.items() if value =='object']

In [ ]:
[key if dict(visa_df.dtypes)[i]=='object', dict(visa_df.dtypes)

In [ ]:
types=dict(visa_df.dtypes)
[key if dict(visa_df.dtypes)[i]=='object', dict(visa_df.dtypes)

In [ ]:
cat_columns=[key for key,value in types.items()if value=='object']

In [ ]:
import pandas as pd

In [ ]:
df=pd.DataFrame()
df

In [ ]:
cat_columns=[key for key,value in types.items()if value=='object']

In [ ]:
data_types=visa_df.dtypes
dict(data_types)

In [ ]:
visa_df.dtypes

In [10]:
data = pd.read_csv(r"C:\Users\Uddhava\Documents\Visadataset.csv", sep = ';')
data

      case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0      EZYV01,Asia,High School,N,N,14513,2007,West,59...
1      EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,8...
2      EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122...
3      EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434....
4      EZYV05,Africa,Master's,Y,N,1082,2005,South,149...
...                                                  ...
25475  EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,...
25476  EZYV25477,Asia,High School,Y,N,3274,2006,North...
25477  EZYV25478,Asia,Master's,Y,N,1121,1910,South,14...
25478  EZYV25479,Asia,Master's,Y,Y,1918,1887,West,861...
25479  EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwes...

[25480 rows x 1 columns]

In [14]:
data['continent'].unique()

KeyError: 'continent'

In [ ]:
['Asia', 'Europe', 'Asia', 'Africa', 'Europe', 'Oceania']

In [ ]:
array(['Asia', 'Europe', 'Africa', 'Oceania'], dtype=object)